.body
{
    background-color: rgb(26, 26, 26);
    margin: 0;
    padding: 0;
    height: 100%;
    background-image: url('topofull.svg'); /* Replace 'your-image-url.jpg' with the URL of your image */
    background-size: cover; /* Cover the entire viewport */
    background-position: center; /* Center the background image */
    background-repeat: repeat;
}


.name
{
    align-items: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    display: flex;
    padding-left: 0;
    
    animation: float 3s cubic-bezier(0.075, 0.82, 0.165, 1), fadeIn 1s linear;
    animation-direction: alternate;
    
}
@keyframes float{
    from{
        transform: translateY(40px);
    }
    to{
        transform: translateY(0px);
    }
}
@keyframes fadeIn {
    0% { opacity: 0; } /* Start with opacity 0 */
    100% { opacity: 1; } /* Fade in to opacity 1 */
    
  }

.name img
{
    max-width: 120px; /* Adjust the maximum width of the image as needed */
    height: auto;
    object-fit: cover;
    margin-right: 10px; /* Add some space between the image and the text */
    margin-left: 0;
}
.name span
{
    flex-grow: 1; /* Allow the text to take up remaining space */
    text-align: center; /* Center the text horizontally */
}


.cim
{
    background-color: rgb(244,78,63) ;
    padding-top: 8px;
    padding-bottom: 8px;
    color: rgb(26, 26, 26);
    
}

.btn-install {
    
    border-radius: 5px;
    border: 4px solid rgb(37, 37, 37);
    
    margin-left: 10px;
    background-color: rgb(244,0,0);
    color: rgb(26, 26, 26);
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.3s;
    box-shadow: 0 0 0 3px rgb(244,121,107);
}
/*
.installBtn:hover
{   
    background-color: rgb(244,121,107);
}
*/

/*
.installBtn {
    
    border: 4px solid rgb(244,0,0);
    border-radius: 5px;
    margin-left: 10px;
    background-color: rgb(244,0,0);
    color: rgb(26, 26, 26);
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.3s;
    box-shadow: 0 0 8px 3px rgb(244,0,0);
}
*/
.btn-install:hover
{   
    background-color: rgb(244,121,107);
    box-shadow: 0 0 8px 3px rgb(244,121,107);
    border: 4px solid rgb(244,121,107);
}


.telepites
{
    
    color: azure;
    background-color: rgb(37, 37, 37);
    padding:8px;
    margin-bottom: 10px;
}
h2
{
    margin-left: 10px;
}
.btn-install:disabled
{
    background-color:black;
    color:aliceblue;
    cursor:not-allowed;
    box-shadow: 0 0 0 3px rgb(10, 10, 10);
}
.stores-btn
{
    margin: 10px;
    padding: 10px;
    color:aliceblue;
    background-color: rgb(26, 26, 26);
    border: 3px solid rgb(244,78,63);
    border-radius: 5px;
    width: 150px;
    transition: 0.2s;
}
.stores-btn:hover
{
    background-color: rgb(244,78,63);
    color: rgb(26, 26, 26);
}
.boltokHeader
{
    color:aliceblue;
}

.custom-table {
    border-collapse: collapse;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

.custom-table td {
    text-align: center;
    padding: 5px;
    border: 3px solid rgb(82, 82, 82);
   
    
}
footer
{
        background-color: #333;
        color: #fff;
        padding: 20px;
        text-align: center;
        margin-top: auto;
        width: 100%;
}
.footerOne {
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
}
table {
    border-collapse: collapse;
    width: 50%; 
    margin: 20px auto; 
    border-radius: 5px; 
    overflow: hidden; 
  }
  .modify-btn
  {
      font-size: larger;
      font-weight: bolder;
      margin: 100px;
      padding: 40px;
      color:aliceblue;
      background-color: rgb(26, 26, 26);
      border: 3px solid rgb(31, 38, 234);
      border-radius: 5px;
      transition: 0.2s;
  }
  .modify-btn:hover
  {
    box-shadow: 0 0 8px 3px rgb(31,38,234);
      background-color: rgb(31, 38, 234);
      color: rgb(26, 26, 26);
  }
  .delete-btn
  {
      font-size: larger;
      font-weight: bolder;
      margin: 100px;
      padding: 40px;
      color:aliceblue;
      background-color: rgb(26, 26, 26);
      border: 3px solid rgb(192, 38, 38);
      border-radius: 5px;
      transition: 0.2s;
  }
  .delete-btn:hover
  {
    box-shadow: 0 0 8px 3px rgb(192, 38, 38);
      background-color: rgb(192, 38, 38);
      color: rgb(26, 26, 26);
  }
.modification-table {
    border-collapse: collapse;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
}

.modification-table td {
    text-align: center;
    padding: 5px;
    border: 0px solid rgb(82, 82, 82);
}
.btn-export {
    
    text-decoration: none;
    border-radius: 5px;
    border: 4px solid rgb(37, 37, 37);
    margin-left: 10px;
    background-color: rgb(26, 26, 176);
    color: rgb(233, 233, 233);
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.3s;
    box-shadow: 0 0 0 3px rgb(82, 82, 224);
}
.btn-export:hover
{   
    background-color: rgb(82, 82, 224);
    box-shadow: 0 0 8px 3px rgb(82, 82, 224);
    border: 4px solid rgb(82, 82, 224);
}
.btn-import {
    
    border-radius: 5px;
    border: 4px solid rgb(37,37,37);
    margin-left: 1100px;
    background-color: rgb(36, 121, 0);
    color: rgb(233, 233, 233);
    padding: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    transition-duration: 0.3s;
    box-shadow: 0 0 0 3px rgb(92, 194, 49);
}
.btn-import:hover
{   
    background-color: rgb(92, 194, 49);
    box-shadow: 0 0 8px 3px rgb(92, 194, 49);
    border: 4px solid rgb(92, 194, 49);
}

  